.container-fluid
  .row
    .col
      .card.shadow-lg.m-5
        .card-header.border-1
          .row.align-items-center
            %h1.card-title.text-center.ml-3 Patient's Detail
            .col.text-right.pr-5
              %a.btn.btn-sm.btn-primary.font-weight-bold{:href => patient_path(params[:id])}
                Back
          .table-responsive
            %table.table.align-items-center.table-flush
              %tbody.thead-light
                %tr.text-left
                  %td.py-2.font-weight-bold First Name
                  %td.py-2
                    .text-default= @patient.p_first_name
                %tr.text-left
                  %td.py-2.font-weight-bold Last Name
                  %td.py-2
                    .text-default= @patient.p_last_name
                %tr.text-left
                  %td.py-2.font-weight-bold Collector Name
                  %td.py-2= @patient.col_name
                %tr.text-left
                  %td.py-2.font-weight-bold Collection Date
                  %td.py-2= @patient.col_date || '--'
                %tr.text-left
                  %td.py-2.font-weight-bold Diagnose Code
                  %td.py-2
                    .text-default= @patient.diag_code
                %tr.text-left
                  %td.py-2.font-weight-bold Other Test Code
                  %td.py-2
                    .text-default= @patient.other_test_code
                %tr.text-left
                  %td.py-2.font-weight-bold Blood Pressure
                  %td.py-2
                    .text-default= @patient.blood_pressure
                %tr.text-left
                  %td.py-2.font-weight-bold Pulse
                  %td.py-2
                    .text-default= @patient.pulse
                %tr.text-left
                  %td.py-2.font-weight-bold Height
                  %td.py-2
                    .text-default= @patient.height
                %tr.text-left
                  %td.py-2.font-weight-bold Weight
                  %td.py-2
                    .text-default= @patient.weight
                %tr.text-left
                  %td.py-2.font-weight-bold BMI
                  %td.py-2
                    .text-default= @patient.bmi
                %tr.text-left
                  %td.py-2.font-weight-bold Physician First Name
                  %td.py-2
                    .text-default= @patient.phy_first_name
                %tr.text-left
                  %td.py-2.font-weight-bold Physician Last Name
                  %td.py-2
                    .text-default= @patient.phy_last_name
